.site-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  text-align: center;
  padding-top: 1rem;
}
.site-header .header-title a {
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.site-header .menu-main-container {
  grid-row: 2;
  padding-top: 1rem;
  color: white;
}

.mobile-container {
  width: 100%;
  margin: auto;
  background-color: rgba(58, 58, 58, 0.89);
  height: auto;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.mobile-container .mobile-container-menu {
  display: none;
}
.mobile-container .close-menu-icon {
  display: none;
}
.mobile-container .menu-icons {
  justify-content: end;
  display: flex;
  padding: 10px;
}
.mobile-container .menu-icons svg {
  cursor: pointer;
}
.mobile-container .menu-item {
  padding: 0.7rem;
}
.mobile-container .menu-item a {
  text-decoration: none;
  color: white;
}
.mobile-container .menu-item a:hover {
  text-decoration: underline;
  color: #C0C0C0;
}
.mobile-container ul {
  list-style-type: none;
}

.mobile-container ul {
  padding: 0;
}

@media (max-width: 900px) {
  #menu-main {
    display: none;
  }
}
@media (min-width: 900px) {
  .mobile-container {
    display: none;
  }
  .menu-main-container ul ul {
    display: none;
    position: absolute;
    top: 3em;
    left: 0;
    z-index: 99999;
    width: 180px;
    background-color: rgba(58, 58, 58, 0.89);
    list-style: none;
    margin-top: -12px;
  }
  .menu-main-container ul li:hover > ul {
    display: block;
  }
  .menu-main-container li {
    position: relative;
    margin: auto;
  }
  .menu-main-container a {
    padding: 12px;
  }
  #menu-main {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(58, 58, 58, 0.89);
    height: 3rem;
    font-weight: 600;
    margin: 0;
    padding: 0px;
  }
  #menu-main a {
    text-decoration: none;
    color: white;
  }
  #menu-main a:hover {
    text-decoration: underline;
    color: #C0C0C0;
  }
}
.news-heading {
  margin: 5rem 0 5rem;
  padding-bottom: 10px;
  display: inline-block;
  color: rgb(0, 0, 0);
  border-bottom: 3px solid rgb(0, 0, 0);
}

.news-grid {
  margin-bottom: 3rem;
}
.news-grid img {
  width: 100%;
  height: auto;
}
.news-grid .news-grid-card {
  background-color: rgb(236, 228, 228);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 1rem 0 1rem;
}
.news-grid .news-grid-card a {
  text-decoration: none;
  color: black;
}
.news-grid .news-grid-card .card-title {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
  display: inline-block;
  margin: 15px;
}
.news-grid .news-grid-card img {
  margin: 15px 0px 15px;
  padding: 0px 15px;
}
.news-grid .news-grid-card p {
  padding: 15px;
}
.news-grid .card-date-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
}
.news-grid .card-date-link .card-date, .news-grid .card-date-link .card-read-more {
  font-size: 14px;
}
.news-grid .card-date-link .card-date {
  padding: 5px;
}
.news-grid .card-date-link .card-read-more {
  background-color: rgb(194, 194, 194);
  border-radius: 3px;
  padding: 5px;
}
.news-grid .card-date-link .card-read-more:hover {
  background-color: rgb(67, 67, 67);
  color: white;
}

@media (min-width: 600px) {
  .news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .news-grid img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 900px) {
  .news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .news-grid img {
    width: 100%;
    height: auto;
  }
}
.contact-midgard {
  margin: 0;
  padding: 0 5rem;
  background-color: #FCF5E5;
}

.contact-halsocenter {
  padding: 2rem;
}

.single-post-content {
  display: flex;
  flex-direction: column;
  margin: 5rem;
}
.single-post-content .single-post-text {
  background-color: rgb(11, 44, 65);
  color: rgb(226, 226, 226);
  margin-top: 3rem;
  padding: 2rem;
  line-height: 1.6rem;
}
.single-post-content .single-post-title {
  padding-bottom: 0.5rem;
  border-bottom: solid;
  display: inline;
}
.single-post-content .single-post-description {
  margin: 2rem 0 2rem;
}
.single-post-content .single-post-image img {
  width: 100%;
  height: auto;
  border: solid 3px rgb(11, 44, 65);
}

.site-footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(72, 103, 123);
  justify-content: space-around;
  padding: 2rem;
  color: #d5d5d5;
}
.site-footer .footer-midgard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 0;
}
.site-footer .footer-halsocenter, .site-footer .footer-byggteknik {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem 0;
}
.site-footer .footer-halsocenter a, .site-footer .footer-byggteknik a {
  text-decoration: none;
  color: #d5d5d5;
}
.site-footer .footer-social {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.site-footer .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.site-footer .footer-contact button {
  border-radius: 10px;
  border-style: none;
  background-color: rgb(21, 94, 140);
  padding: 10px 15px;
  outline: none;
}
.site-footer .footer-contact button a {
  color: #d5d5d5;
  text-decoration: none;
}
.site-footer .footer-contact button ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}
.site-footer .footer-contact button:hover {
  background-color: rgb(4, 31, 48);
}

@media (min-width: 900px) {
  .site-footer {
    display: flex;
    flex-direction: row;
  }
}
.about-us-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 2rem 0 2rem;
}
.about-us-content .wp-block-media-text {
  display: initial;
}
.about-us-content .wp-block-media-text .wp-block-media-text__content {
  margin: 2rem 0 2rem;
  padding: 0;
  background-color: #E9DCC9;
  padding: 2rem;
  border-radius: 5px;
  line-height: 1.5rem;
}
.about-us-content .wp-block-media-text .wp-block-media-text__media {
  text-align: center;
}
.about-us-content .wp-block-media-text .wp-block-media-text__media img {
  border-radius: 5px;
  height: 50%;
  width: 50%;
}

@media (min-width: 600px) {
  .about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.treatment-content {
  margin: 2rem 0 2rem;
}
.treatment-content .treatment-info {
  background-color: #E9DCC9;
  padding: 1.5rem;
  border-radius: 5px;
}
.treatment-content .treatment-info .treatment-text {
  margin: 3rem 0 2rem;
}
.treatment-content .treatment-info .treatment-title {
  border-bottom: 2px solid black;
  display: inline;
  margin-top: 2rem;
  padding-bottom: 0.4rem;
}
.treatment-content .treatment-info .wp-block-button {
  margin-top: 2rem;
}
.treatment-content .treatment-image {
  display: flex;
  justify-content: center;
}
.treatment-content .treatment-image img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.treatment-content .treatment-text {
  margin-top: 1rem;
}
.treatment-content .treatment-text p {
  margin-bottom: 3rem;
}
.treatment-content .wp-block-button {
  color: white;
}

@media (min-width: 600px) {
  .treatment-content {
    display: flex;
    gap: 2rem;
  }
}
.woocommerce-Price-amount {
  color: rgb(17, 26, 13);
}

.woocommerce-result-count {
  color: black;
  font-weight: 700;
}

.orderby {
  border-radius: 5px;
}

.product {
  background-color: rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product img {
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 4/3;
  background-color: white;
}
.product .woocommerce-loop-product__title {
  color: black;
  font-weight: 700;
}
.product .price {
  padding: 0;
  font-weight: 300;
}

.coachande-samtal .wp-block-media-text {
  padding: 2rem;
}

.about-me .wp-block-media-text {
  padding: 2rem;
}

.site-footer {
  display: flex;
  flex-direction: column;
  background-color: rgb(72, 103, 123);
  justify-content: space-around;
  padding: 2rem;
  color: #d5d5d5;
}
.site-footer .footer-midgard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 0;
}
.site-footer .footer-halsocenter, .site-footer .footer-byggteknik {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem 0;
}
.site-footer .footer-halsocenter a, .site-footer .footer-byggteknik a {
  text-decoration: none;
  color: #d5d5d5;
}
.site-footer .footer-social {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.site-footer .footer-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.site-footer .footer-contact button {
  border-radius: 10px;
  border-style: none;
  background-color: rgb(21, 94, 140);
  padding: 10px 15px;
  outline: none;
}
.site-footer .footer-contact button a {
  color: #d5d5d5;
  text-decoration: none;
}
.site-footer .footer-contact button ul {
  list-style-type: none;
  padding: 0;
  margin: auto;
}
.site-footer .footer-contact button:hover {
  background-color: rgb(4, 31, 48);
}

@media (min-width: 900px) {
  .site-footer {
    display: flex;
    flex-direction: row;
  }
}
.about-us-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin: 2rem 0 2rem;
}
.about-us-content .wp-block-media-text {
  display: initial;
}
.about-us-content .wp-block-media-text .wp-block-media-text__content {
  margin: 2rem 0 2rem;
  padding: 0;
  background-color: #E9DCC9;
  padding: 2rem;
  border-radius: 5px;
  line-height: 1.5rem;
}
.about-us-content .wp-block-media-text .wp-block-media-text__media {
  text-align: center;
}
.about-us-content .wp-block-media-text .wp-block-media-text__media img {
  border-radius: 5px;
  height: 50%;
  width: 50%;
}

@media (min-width: 600px) {
  .about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
.treatment-content {
  margin: 2rem 0 2rem;
}
.treatment-content .treatment-info {
  background-color: #E9DCC9;
  padding: 1.5rem;
  border-radius: 5px;
}
.treatment-content .treatment-info .treatment-text {
  margin: 3rem 0 2rem;
}
.treatment-content .treatment-info .treatment-title {
  border-bottom: 2px solid black;
  display: inline;
  margin-top: 2rem;
  padding-bottom: 0.4rem;
}
.treatment-content .treatment-info .wp-block-button {
  margin-top: 2rem;
}
.treatment-content .treatment-image {
  display: flex;
  justify-content: center;
}
.treatment-content .treatment-image img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}
.treatment-content .treatment-text {
  margin-top: 1rem;
}
.treatment-content .treatment-text p {
  margin-bottom: 3rem;
}
.treatment-content .wp-block-button {
  color: white;
}

@media (min-width: 600px) {
  .treatment-content {
    display: flex;
    gap: 2rem;
  }
}
.courses-content {
  margin: 4rem 0;
}
.courses-content .course-single {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 4rem;
}
.courses-content .course-info {
  padding: 1.5rem;
  background-color: rgb(235, 235, 235);
  color: black;
}
.courses-content .course-info .course-title {
  border-bottom: 2px solid black;
  display: inline;
}
.courses-content .course-info .course-text p {
  margin: 1.5em 0;
}
.courses-content .wp-block-button {
  padding-top: 2rem;
  color: rgb(235, 235, 235);
}

.course-image {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
.course-image img {
  border-radius: 100%;
  width: 250px;
  height: 250px;
}

@media (min-width: 600px) {
  .courses-content .course-single {
    display: flex;
    flex-direction: row;
  }
  .courses-content .course-image {
    margin-right: 1rem;
  }
}
.front-page-pic {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background: linear-gradient(to top, rgba(128, 128, 128, 0.232), rgba(128, 128, 128, 0.232)), url(http://midgards.test/app/uploads/2022/11/door.jpeg) no-repeat top center;
  box-shadow: inset 0 0 99999px rgba(63, 63, 63, 0.496);
}

.frontpage-cont {
  text-decoration: none;
  background-color: rgba(58, 58, 58, 0.89);
  margin: 1rem auto;
  padding: 1rem;
  width: 80ch;
  text-align: center;
  color: white;
  width: 100%;
}/*# sourceMappingURL=style.css.map */