@import '../general/responsive';
@import '../general/colors';

.about-us-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 2rem 0 2rem;

    .wp-block-media-text {
        display: initial;

        .wp-block-media-text__content {
            margin: 2rem 0 2rem;
            padding: 0;
            background-color: $grey;
            padding: 2rem;
            border-radius: 5%;
            line-height: 1.5rem;
        }

        .wp-block-media-text__media img{
            border-radius: 5%;
        }
    }
}