
.wc-block-components-sidebar-layout
.wc-block-components-main {
    background-color: #ffffffb7;
    margin-top: 10px;
}
.wc-block-components-sidebar {
    margin-top: 10px;
    background-color: #ffffffb7;
}
.wc-block-components-product-name{
      color: black;
    
}
.wc-block-components-product-name:hover{
}