.site-footer {
    display: flex;
    flex-direction: column;
    background-color: rgba(72, 103, 123, 1);
    justify-content: space-around;
    padding: 2rem;
    color: #d5d5d5; 

    .footer-midgard {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1.5rem 0;

    }

    .footer-halsocenter,   .footer-byggteknik{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1.5rem 0;

      a {
        text-decoration: none;
        color: #d5d5d5; 
      }
    }

    .footer-social {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .footer-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;

        button {
            border-radius: 10px;
            border-style: none;
            background-color: rgba(21, 94, 140, 1);
            padding: 10px 15px;
            outline: none;

            a{
                color: #d5d5d5; 
                text-decoration: none;
            }

            ul{
                list-style-type: none;
                padding: 0;
                margin: auto;
            }
        }

        button:hover {
            background-color: rgb(4, 31, 48);
        }
    }


}

@media (min-width: $tablet-landscape) {
    .site-footer {
        display: flex;
        flex-direction: row;
    }

}