
@import '../general/responsive';
@import '../general/default';
@import '../general/colors';

.news-heading {
    margin: 5rem 0 5rem;
}

.news-grid {

    img {
        width: 100%;
        height: auto;
    }
}

@media (min-width: $tablet) {
    .news-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    
        img {
            width: 100%;
            height: auto;
        }
      }
    }

@media (min-width: $tablet-landscape) {
.news-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;

    img {
        width: 100%;
        height: auto;
    }
  }
}