.site-footer
{
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 16, 19);
    justify-content: space-around;
    padding: 2rem;
    color: #c0c0c0;

    .footer-midgard
    {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1.5rem 0;
    }

    .footer-halsocenter, .footer-byggteknik
    {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 1.5rem 0;

      span
      {
        color: #e9e8e8; 

        a
        {
            color:#e9e8e8;
        }

        a:hover
        {
            color:#4682B4;
            text-decoration: none;
        }
      }
    }

    .footer-social
    {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .footer-contact
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: fit-content;

        button
        {
            border-radius: 10px;
            border-style: none;
            background-color: #71797E;
            padding: 10px 15px;
            outline: none;

            a
            {
                color: black;
                text-decoration: none;
            }

            ul
            {
                list-style-type: none;
                padding: 0;
                margin: auto;
            }
        }

        button:hover
        {
            background-color: #36454F;

            a
            {
                color: white;
            }
        }
    }
}

@media (min-width: $tablet-landscape)
{
    .site-footer 
    {
        display: flex;
        flex-direction: row;
    }

}